*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 16px;
	font-family:"Trebuchet MS", Helvetica, sans-serif; 
	background: #f3f3f3;
}
#navegacao{
	background: #020202;
	border-bottom:1px solid #d8d8d8;
	height: 45px;
	position: fixed;
	width: 100%;
	top: 0 ;

}
#area{
	width: 720px;
	margin: 0 auto;

}
#area-principal{
	width: 720px;
	margin: 55px auto 10px auto;

}
#menu{
	float: right;
	padding: 10px 0;
}
#logo{
	float: left;
}
#postagem{
	background: #fff;
	padding: 10px;
	margin-bottom: 10px; 
}
h2{
	color: #b9c941;
}

/* formatação do menu*/
a{
	padding: 5px 10px;
	text-decoration: none;
}
	a:link{
		color: #E0E7E1;
	}	
	a:visited{
		color: #E0E7E1;
	}	
	a:hover{
		color: #fff;
		background: #b9c941;

	}
	

/* classes*/
.verde{
	color: #b9c941;
}
.branco{
	color: #E0E7E1;
}
.data-postagem{
	font-size: 14px;
	border-bottom: 1px solid #f4f4f4;
	display: block;
	padding-bottom: 10px; 
	margin-bottom:10px;  
}
.img-postagem{
	float: left;
	margin: 0 10px 5px 0;
}
.postado{
	border-left: 5px solid #d8d8d8;
	padding-left: 5px;
	display:block;
	margin-top: 10px;

}